<h1><B>About us</B></h1>

<h2>Trip Planner</h2>

<p>
Trip planner is a platform to plan trips anywhere in the world.<br>
A user can create an account, set destinations with times and dates,  <br>
set where they'd like to lodge, tour, and eat.
</p>

<h3>Developed Using</h3>

<ul>
<li>Ruby on Rails.
<li>APIs.
<li>Bootstrap.
<li>CSS.
<li>Postgres database.
<li>fontawesome.
<li>Intergrated Google maps API and Google geocoding API.
</ul>