<h1><B>About us</B></h1>

<%= image_tag "Ari.jpg", class: "image" %>

<p>
Ari Drookman is a full-stack web developer.<br>
A tech enthusiast with robust problem-solving <br>
skills with creating and designing web applications. <br>
Ari is well versed in current tech trends and a team player;<br>
working closely with team members to produce high-quality deliverables. <br>
<br>
Ari completed a one year Full Stack Developer program with AdalegIT.<br>
<br>
TECHNICAL SKILLS<br>
• Programming Languages: Ruby, JavaScript, ECMAScript 6, SQL, HTML, CSS<br>
• Databases: Postgres, SQLite, MySQL<br>
• Frameworks: Ruby-on-Rails<br>
• Source Control: Git/GitHub 
</p>
<br>
<br>
<br>
<br>

<%= image_tag "tal.jpg", class: "image" %>

<p>
Tal Sagi is looking to develop his programming skills through practical experience.<br>
The more practice Tal can gain, the better, as he find this is the best way to learn.<br>
Allow Tal to do the tedious work, leaving the more important tasks for the senior developers.<br>
<br>
Tal completed a one year Full Stack Developer program with Adaleg IT. Prior to that,<br>
Tal studied at Seneca College’s Computer Programmer Diploma program for one year.<br>
<br>
Prior to that, Tal worked as an electrician for over 14 years. I decided to make a change.
<br>
GitHub TSAGI
<br>
TECHNICAL SKILLS<br>
• Programming languages: Ruby, JavaScript ES6, SQL, HTML and CSS.<br>
• Databases: Postgres and SQLite.<br>
• Frameworks: Rails.<br>
• Source control: Git/GitHub.<br>
• Package managers: NPM, Yarn and Ruby bundler. <br>
</p>
<br>
<br>
<br>
<br>

<%= image_tag "yossi.jpg", class: "image" %>

<p>
Yossi Goldberg is a full-stack web developer. <br>
Yossi has completed his full stack web development programming<br>
course with adaleg-it. Yossi is a team player, and very nice to work with.<br>
<br>
TECHNICAL SKILLS<br>
• Programming Languages: Ruby, JavaScript, ECMAScript 6, SQL, HTML, CSS<br>
• Databases: Postgres, SQLite, MySQL<br>
• Frameworks: Ruby-on-Rails<br>
• Source Control: Git/GitHub <br>
</p>
<br>
<br>
<br>
<br>

<%= image_tag "lowie2.jpg", class: "image" %>

<p>
Lowie Einbinder is a Full stack web developer. Lowie started with a course in Python.<br>
After finsihing that course with Adaleg-IT, he was inspired and motivated to continue on <br>
his coding journey and becomg a full stack web developer leaning front end and back end.<br>
Lowie completed a 10 month full stack web development class at Adaleg-IT.<br>
Lowie is a team player, and easy to get along with.<br>

<br>
TECHNICAL SKILLS<br>
• Programming Languages: Ruby, JavaScript, ECMAScript 6, SQL, HTML, CSS<br>
• Databases: Postgres, SQLite, MySQL<br>
• Frameworks: Ruby-on-Rails<br>
• Source Control: Git/GitHub <br>
</p>

<br>
<br>
<h2><b>Trip Planner<b></h2>

<p>
Trip planner is a platform to plan trips anywhere in the world.<br>
A user can create an account, set destinations with times and dates, <br>
set where they'd like to lodge, tour, and eat.
</p>

<h3>Developed Using</h3>

<ul>
<li>Ruby on Rails.
<li>APIs.
<li>Bootstrap.
<li>CSS.
<li>Postgres database.
<li>fontawesome.
<li>Intergrated Google maps API and Google geocoding API.
</ul>

