<h1><B>Contact us</B></h1>
 <div class="contact2">
    <span><i class="fas fa-phone"></i> &nbsp; (647)271-1460</span>
    <br>
    <span><i class="fas fa-envelope"></i> &nbsp; info@adalegit.com</span>
  </div>
