<h1><B>Use of Cookies</B></h1>

<div class='cookies'>
<p>
A comprehensive cookies policy will contain the following key parts:

An explanation of what website cookies are
A description of the types of first-party cookies used by your site
A description of the types of third-party cookies used by your site
An explanation of how these cookies are used
An explanation of why these cookies are used
Detailed instructions on how users can set their cookie preferences
Keep in mind that the purpose of providing a website cookie notice is 
to notify users that cookies are being used by your site, and to be transparent 
about that cookie activity. Therefore, cookie policy language should be easy to 
understand and free of legalese.
</p>