<h1><B>FAQs</B></h1>

<div class='faqs'>
<p><b>
What is Tripplaner.com?<b>
<div>
<p>
Trip planner is a platform to plan trips anywhere in the world.<br>
A user can create an account, set destinations with times and dates, <br>
set where they'd like to lodge, tour, and eat.
</p>

<h3>Developed Using</h3>

<ul>
<li>Ruby on Rails.
<li>APIs.
<li>Bootstrap.
<li>CSS.
<li>Postgres database.
<li>fontawesome.
<li>Intergrated Google maps API and Google geocoding API.
</ul>
</a
 class="links"><a href='/pages/about'>Click here for more</a>
</a>
</div>


<div class='faqs'>
<p><b>
How to reach us?<b>
<br>
<div>
  <span><i class="fas fa-phone"></i> &nbsp; (647)271-1460</span>
    <br>
    <span><i class="fas fa-envelope"></i> &nbsp; info@adalegit.com</span>
  </div>
<%# <div>
</a
  class="links"><a href='/pages/contact'>Click here for answer</a>
</a>
</div> %>


<div class='faqs'>
<p><b>
What are our Terms and conditions?<b>
<div>
erms and Conditions for Trip Planner<br>
These Website Standard Terms and Conditions <br>
written on this webpage shall manage your use of our <br>
website, Webiste Name accessible at Website.com.
</a
 class="links"><a href='/pages/terms'>Click here for more</a>
</a>
</div>

<div class='faqs'>
<p><b>
Our Privacy Policy<b>
<div>
Privacy Policy for Trip Planner<br>
Last updated: (add date) My Company (change this)<br>
 ("us", "we", or "our") operates http://www.mysite.com <br>
 (change this) (the "Site"). This page informs you of our<br>
  policies regarding the collection, use and disclosure of<br>
Personal Information we receive from users of the Site.
</a
 class="links"><a href='/pages/privacy'>Click here more</a>
</a>
</div>