<h1><B>Site Map</B></h1>

<li class="links"><a href='/pages/about'>About Us</li>
          <li class="links"><a href='/pages/privacy'>Privacy Policy</li>
          <li class="links"><a href='/pages/terms'>Terms And Conditions</li>
          </ul>
        </div>
        <div class="column">
        <ul>
          <li class="links"><a href='/pages/cookies'>Use Of Cookies</li>
          <li class="links"><a href='/pages/map'>Site Map</li>
          <li class="links"><a href='/pages/contact'>Contact us</li>
          </ul>
        </div>