<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meal Prefeences</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

</form>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">

            
            	<h2>Meal Preferences</h2>
                	<div class="form-group row">
                		<div class="checkbox">
                        	<label><input type="checkbox" value="">Gluten Free</label>
                    	</div>
               		</div>
                	<div class="form-group row">
                    	<div class="checkbox">
                        	<label><input type="checkbox" value="">Vegeterian</label>
                      	</div>
                    </div>
                    <div class="form-group row">
                    	<div class="checkbox">
                        	<label><input type="checkbox" value="">Vegan</label>
                      	</div>
                    </div>
                    <div class="form-group row">
                    	<div class="checkbox">
                        	<label><input type="checkbox" value="">Dairy Free</label>
                      	</div>
                    </div>
                    <div class="form-group row">
                    	<div class="checkbox">
                        	<label><input type="checkbox" value="">Low-Sodium</label>
                      	</div>
                    </div>
                    <div class="form-group row">
                    	<div class="checkbox">
                        	<label><input type="checkbox" value="">Kosher</label>
                      	</div>
                    </div>
                    <div class="form-group row">
                    	<div class="checkbox">
                        	<label><input type="checkbox" value="">Halal</label>
                      	</div>
                    </div>
                    <div class="form-group row">
                    	<div class="checkbox">
                        	<label><input type="text" value="">Other</label>
                      	</div>
                    </div>
                <button type="button" class="btn btn-primary px-4 float-right">Save</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>
