<h1>Choose Your Favourite Restaurant</h1>

<%= form_for @restaurant, url: users_trip_destination_restaurants_path(@trip.id, @destination.id) do |f| %>
          <%= f.label :name, "Restaurant Name" %>
          <%= f.text_field :name, required: true %>
  
    <%= f.submit "Submit", class: "btn btn-primary btn-lg next" %>
<% end %>
