<h1>
<%= @trip.name %> </h1>
<% @destinations.each do |d| %>
<div> 
      <%= d.arriving_to %>
      <%= link_to "Add Restaurant", new_users_trip_destination_restaurant_path(@trip.id, d.id)%> 
</div>
    <% if d.eateries.empty? %>
    <p> no restaurant selected </p>
    <% else %>
      <% d.eateries.each do |r| %>
      <div>
      <%= r.name %>
      </div>
   <%end%>
   <%end%>
      <% end %>