

$logo: #3DBB3D;
$gray: #777777;
$black: #070707;
$green: #7ED386;
$aqua: #3FB6A8;
$white: #FFFFFF;

#editBody{
  background-color: lightblue;
}

.editP{
  font-variant: all-petite-caps;
  margin-left: 4%;
}

.editProfile{
    background: $white;
    width: 60%;
    height: 930px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 2px 5px 20px rgba($gray, .5);
}

#avatar{
  margin: 8%;
  border-radius: 30%;
  color: green($color: #000000);
}

.labelProfile{
  margin-bottom: -1.5rem;
  display: inline-block;
}

.editProfileCol{
  float: right;
  width: 70%;
  margin-top: -21%;
}

  .profileUpdateButton {
    margin-left: 32%;
    margin-top: 5%;
  }


