// Place all the styles related to the mealPreference controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$logo: #3DBB3D;
$gray: #777777;
$black: #070707;
$green: #7ED386;
$aqua: #3FB6A8;
$white: #FFFFFF;

.mealPrefBG{
  background-color: lightblue;
}

.mealPrefMargin{
    margin-left: 2%;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
