ul {
   list-style-type: navbar;
   margin: 0;
   padding: 0;
}
.active {
   color: blue;
}
li {
//    border-bottom: 1px solid #555;
   display: inline;
}
.navoption{
    font-size: 1.25em;
    color: navy;
}

.contact2 {
   color: black;
   font-size: larger;
   padding-bottom: 100px;
   padding-left: 200px;
}